* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  font-weight: 500;
  width: 100%;
}

/// nawigacja ///

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  border: 1px green solid;
}

nav h1 {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 400;
  text-align: flex-start;
}

.halfLogo {
  font-weight: 900;
  align-self: center;
}

.navButtons ul {
  list-style-type: none;
}

.navButtons li {
  display: inline;
  margin-inline: 1.6875rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.greenText {
  font-weight: 700;
  color: green;
}

.greenText:hover {
  color: rgba(0, 128, 0, 0.5);
}

/// hamburger ///

.hamburger {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin: 0;
}

.hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

@mixin hamburger-line {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
}

.hamburger__inner {
  @include hamburger-line;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger__inner::before,
.hamburger__inner::after {
  @include hamburger-line;

  content: "";
  left: 0;
}

.hamburger__inner::before {
  top: -8px;
}

.hamburger__inner::after {
  top: 8px;
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

/// welcoming image ///

.welcomingImageContainer img {
  height: 100vh;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.welcomingImageText {
  position: absolute;
  font-size: 6.5vw;
  top: 35vh;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 900;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

@media (max-width: 768px) {
  .navButtons {
    display: none;
  }

  nav {
    justify-content: space-between;
    padding: 20px;
  }
}

///

.container {
  display: flex;
  justify-content: center;
  // border: 2px red solid;
}

.ourService p {
  margin: 3.625rem 3.625rem 0 3.625rem;
  // border: 2px red solid;
}

.ourService ul {
  padding: 3.625rem;
  // border: 2px red solid;
}

.ourService li {
  list-style-type: none;
  padding: 0.75rem;
  // border: 2px red solid;
  // width: 1024px;
}

.ourService li::before {
  content: "•";
  color: green;
}

.ourService li:first-child::before {
  content: "";
}

/// aboutUs ///

#aboutUs {
  width: 100%;
  // border: 2px red solid;
  background-color: #f2f3f5;
}

#aboutUs p {
  text-align: center;
  margin: 4.5rem 3.625rem 2.375rem 3.625rem;
  // border: 2px red solid;
}
