@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: inter;
  font-weight: 500;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #bbb;
  outline: 1px solid slategrey;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
}

nav h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: 400;
  text-align: flex-start;
}

.halfLogo {
  font-weight: 900;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navButtons ul {
  list-style-type: none;
}

.navButtons li {
  display: inline-block;
  margin-inline: 1.6875rem;
}

.navButtons a {
  display: block;
  line-height: 4rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.greenText {
  font-weight: 700;
  color: green;
}

.greenText:hover {
  color: rgba(0, 128, 0, 0.5);
}

.hamburger {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin: 0;
}

.hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  border-radius: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  content: "";
  left: 0;
}

.hamburger__inner::before {
  top: -8px;
}

.hamburger__inner::after {
  top: 8px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

.heroSection img {
  height: 100vh;
  position: relative;
}

.heroSectionImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.heroSectionText {
  position: absolute;
  font-size: 6.5vw;
  top: 35vh;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 900;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes slidein {
  from {
    opacity: 0;
    margin-left: -75%;
    width: 100%;
  }
  to {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: -75%;
    width: 100%;
  }
  to {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navButtons {
    display: none;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
  .heroSectionText {
    font-size: 8vw;
    top: 45vh;
  }
}

#container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourService p {
  font-size: 1.25rem;
  margin: 3.625rem 3.625rem 0 3.625rem;
}

.ourService ul {
  font-size: 1.25rem;
  padding: 3.625rem;
}

.ourService li {
  list-style-type: none;
  padding: 0.75rem;
}

@media (max-width: 768px) {
  .ourService ul {
    font-size: 1rem;
    padding: 1rem;
  }
  .ourService p {
    font-size: 1rem;
    margin: 3.625rem 1rem 1rem 1rem;
  }
}

.ourService li::before {
  content: "•";
  color: green;
}

.ourService b {
  color: #222;
}

#container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutUs {
  width: 100%;
  height: 100vh;
  background-color: #fbbbbb;
}

@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

#slider {
  overflow: hidden;
}

#slider figure img {
  width: 20%;
  float: left;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 5s slidy infinite;
          animation: 5s slidy infinite;
}
/*# sourceMappingURL=style.css.map */