* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 100%;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  border: 1px green solid;
}

nav h1 {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 400;
  text-align: flex-start;
}

.halfLogo {
  font-weight: 900;
  align-self: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-inline: 1.6875rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.greenText {
  font-weight: 700;
  color: green;
}

.greenText:hover {
  color: rgba(0, 128, 0, 0.5);
}

.welcomingImage {
  border: 1px green solid;
  width: 100%;
}

.welcomingImage img {
  width: 100%;
}

.welcomingImageText {
  font-size: 5rem;
  /* border: 1px white solid; */
  color: white;
  position: absolute;
  margin-left: 15vw;
  top: 40vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
